.c-point {
    cursor: pointer;
}
.header-dash {
    font-size: 1rem;
    font-weight: bolder;
    color: brown;
}
.bg-black {
    background: #151414;
}

.height-3 {
    height: 3rem;
}
.forms {
    input {
        height: 3rem;
    }

    input::placeholder {
        font-size: 1rem;
        font-weight: bolder;
    }
}

.user-name {
    border-radius: 50%;
    background: white;
    padding: 5px 8px;
}
.nav-image {
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
}
.large-font {
    font-size: large;
    font-weight: bold;
}
////btns

.btn-big {
    color: #fff;
    background-color: #ff5605;
    width: 8rem;
    height: 3.5rem;
    border: none;
    margin-left: auto;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bolder;
    &:hover {
        color: white;
    }
}
