.c-point {
    cursor: pointer;
}
.header-dash {
    font-size: 1rem;
    font-weight: bolder;
    color: brown;
}
.bg-black {
    background: #151414;
}

.forms {
    input {
        height: 4rem;
    }

    input::placeholder {
        font-size: 1rem;
        font-weight: bolder;
    }
}

.large-font {
    font-size: large;
    font-weight: bold;
}
////btns

.btn-big {
    color: #fff;
    background-color: #ff5605;
    width: 8rem;
    height: 3.5rem;
    border: none;
    margin-left: auto;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bolder;
    &:hover {
        color: white;
    }
}
